$color-purple: #AD1FEA;
$color-rainbow: #4661E6;
$color-dark-rainbow: rgb(55, 63, 104);
$color-white: #fff;
$color-cotton-ball: #F2F4FF;
$color-ghost-white: #F7F8FD;
$color-jewel: #3A4374;
$color-ocean-night: #647196;
$color-peach: #F49F85;
$color-blue-mana: #62BCFA;
