.filter{
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 24px;
}

.filter__list{
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: -10px;
}

.filter__item{
  margin: 14px 8px 14px 0;
}

.filter__link{
  text-decoration: none;
  padding: 7px 15px;
  border: none;
  background-color: #F2F4FF;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
  transition: background-color ease 0.5s;

  &:hover{
    background-color: #CFD7FF;
  }
}

.filter__link--active{
    background-color: #4661E6;
    color: #fff;
}
